html, body, ui-view {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  height: 64px;
  border-bottom: 1px solid #666666;
  width: 100%;
  background-color: #333333;
  position: relative;
  margin-bottom: 10px;
}

nav h3 {
  line-height: 65px;
  vertical-align: middle;
  color: white;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

nav .person {
  width: 40px;
  height: 40px;
  top: 13px;
  right: 15px;
  position: absolute;
  background-color: gray;
  border-radius: 50%;
}

body {
  /*background-color: green;*/
  background-color: #151515;
}

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}

.clearfix {
  clear: both;
}

.center-text {
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  position:relative;
  top:50%;
  transform: translateY(-50%);
}

button, img {
  cursor: pointer;
}

/* PLAY SCREEN CSS */
.player {
  position: relative;
/*  background-color: bisque;*/
  color: white;
  font-size: 0.8em;
}

.player p {
  transition: all 1s;
  -webkit-transition: all 1s;
}

.player p:hover {
  font-size: 2em;
  
  transition: all 1s;
  -webkit-transition: all 1s;
}

.player-full {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

.player-min {
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  top: 100px;
  left: 100px;
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

.left-scrub-fastest {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
/*  background-color: darkslategray;*/
}

.left-scrub-fast {
  position: absolute;
  bottom: 0;
  left: 100px;
  width: 100px;
  height: 100px;
/*  background-color: greenyellow;*/
}

.left-scrub-normal {
  position: absolute;
  bottom: 0;
  left: 200px;
  width: 100px;
  height: 100px;
/*  background-color: thistle;*/
}

.right-scrub-fastest {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
/*  background-color: rosybrown;*/
}

.right-scrub-fast {
  position: absolute;
  bottom: 0;
  right: 100px;
  width: 100px;
  height: 100px;
/*  background-color: navajowhite;*/
}

.right-scrub-normal {
  position: absolute;
  bottom: 0;
  right: 200px;
  width: 100px;
  height: 100px;
/*  background-color: darkorchid;*/
}

.volume-up {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5em;
/*  background-color: cadetblue;*/
}

.video-refresh {
  top: 0;
  height: 40%;
  width: 100px;
  left: 0;
  position: absolute;
/*  background-color: goldenrod;*/
}

.video-language {
  top: 40%;
  height: 30%;
  width: 100px;
  left: 0;
  position: absolute;
/*  background-color: lawngreen;*/
}

.video-cc {
  top: 70%;
  height: 30%;
  width: 100px;
  left: 0;
  position: absolute;
/*  background-color: tomato;*/
}

.video-close {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
/*  background-color: gray;*/
  background-position: center;
  background-repeat: no-repeat;
}

.video-options {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
/*  background-color: firebrick;*/
}

.volume-mute {
  width: 100px;
  position: absolute;
  height: calc(100% - 200px);
  top: 100px;
  left: 0;
/*  background-color: aquamarine;*/
  line-height: calc(100% - 200px);
}

.volume-mute p {
  vertical-align: middle;
}

.volume-down {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2.5em;
/*  background-color: dodgerblue;*/
}

.volume-status {
  width: 10px;
  bottom: 0;
  right: 0;
  position: absolute;
/*  background-color: red;*/
  background-color: white;
}

.menuButton {
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  position: absolute;
/*  background-color: #151515;*/
  background-image: url('../img/menu.png');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
/*  background-color: orange;*/
  z-index: 999;
  transition: all 3;
  -webkit-transition: all 1s;
}

.menuButton:hover {
  opacity: 1; 
  transition: all 1s;
  -webkit-transition: all 1s;
  
}

.options-tab-top {
  cursor: pointer;
  position: absolute;
  top: -100px;
  height: 100px;
  width: 100%;
  left: 0;
  background-color: #151515;
/*  background-color: #333333;*/
  background-repeat: no-repeat;
  background-position: center;
  
}

.options-tab-bottom {
  cursor: pointer;
  position: absolute;
  bottom: -100px;
  height: 100px;
  width: 100%;
  left: 0;
  background-color: #151515;
/*  background-color: indianred;*/
}

.options-tab-left {
  cursor: pointer;
  position: absolute;
  left: -100px;
  height: 100%;
  width: 100px;
  top: 0;
  background-color: #151515;
/*  background-color: cornsilk;*/
}

.options-tab-leftest {
  cursor: pointer;
  position: absolute;
  height: calc(100% - 100px);
  width: 100px;
  top: 0;
/*  background-color: gold;*/
  background-color: #151515;
  z-index: 998;
}

.options-tab-leftest-visible {
  left: -100px;
  -webkit-transition: left 0.5s; /* Safari */
  transition: left 0.5s;
}

.options-tab-leftest-hidden {
  left: -200px;
  
  -webkit-transition: left 0.5s; /* Safari */
  transition: left 0.5s;
}

.options-tab-right {
  cursor: pointer;
  position: absolute;
  right: -100px;
  height: 100%;
  width: 100px;
  top: 0;
/*  background-color: cornsilk;*/
  background-color: #151515;
}

.video {
  width: 100%;
  height: 100%;
/*  background-color:plum;*/
}

/* SEARCH SCREEN CSS */
.search-body {
  height: calc(100% - 85px);
  background-color: #151515;
  min-width: 800px;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.search-column-1 {
  height: 100%;
  /*background-color: purple;*/
  background-color: #151515;
  width: 350px;
  float: left;
  position: relative;
}

.search-selector {
  padding: 50px 0;
  height: calc(100% - 102px);
  background-color: #222222;
  border: 1px solid #666666;
  width: 118px;
  float: right;
  overflow-y: scroll;
  border-radius: 3px;
}

.search-selector-up,
.search-selector-down {
  cursor: pointer;
}

.search-selector-up {
  position: absolute;
  height: 50px;
  top: 1px;
  right: 1px;
  width: 118px;
/*  border-left: 2px solid #666666;
  border-right: 2px solid #666666;*/
  background-color: #333333;
  opacity: 0.75;
  color: white;
  z-index: 999;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.search-selector-down {
  position: absolute;
  height: 50px;
  bottom: 1px;
  right: 1px;
  width: 118px;
/*  border-left: 2px solid #666666;
  border-right: 2px solid #666666;*/
  background-color: #333333;
  opacity: 0.75;
  color: white;
  z-index: 999;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.search-selector-letter {
  margin: 15px 14px;
  width: 90px;
  height: 90px;
  background-color: #222222;
  cursor: pointer;
  color: white;
  -webkit-transition: all 3s; /* Safari */
  transition: all 3s;
  font-size: 2em;
}

.search-selector-letter:hover {
  -webkit-transition: all 3s; /* Safari */
  transition: all 3s;
  font-size: 3em;
}

.search-selector-letter p {
  line-height: 90px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

.search-text {
  position: relative;
  /*background-color: lavender;*/
  background-color: #151515;
  width: 230px;
  float: left;
  height: 120px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

::-webkit-scrollbar { 
    display: none; 
}

.search-text span {
  font-size: 2em;
  /*background-color: black;*/
  color: white;
  overflow: hidden; 
  white-space: pre;
  text-align: right;
  direction: rtl;
  display: block;
  margin: 10px 10px;
}

.spaceButton {
  width: 50px;
  right: 70px;
  bottom: 10px;
  height: 50px;
  position: absolute;
  background-color: #222222;
  border: 1px solid #666666;
  color: white;
  border-radius: 3px;
  -webkit-transition: all 3s; /* Safari */
  transition: all 3s;
  outline: none;
}

.backButton {
  width: 50px;
  right: 10px;
  bottom: 10px;
  height: 50px;
  position: absolute;
  background-color: #222222;
  border: 1px solid #666666;
  color: white;
  border-radius: 3px;
  -webkit-transition: all 3s; /* Safari */
  transition: all 3s;
  outline: none;
}

.backButton:hover, .spaceButton:hover {
  background-color: #444444;
  -webkit-transition: all 3s; /* Safari */
  transition: all 3s;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.search-column-2 {
  height: 100%;
  background-color: #151515;
  width: calc(100% - 360px);
  float: right;
  position: relative;
}

.search-results {
  background-color: #222222;
  height: calc(100% - 102px);
  padding: 50px 10px;
  width: 255px;
  float: left;
  overflow-y: scroll;
  border: 1px solid #666666;
  border-radius: 3px;
}

.search-details {
  width: calc(100% - 335px);
  margin-right: 10px;
  padding: 20px;
  float: right;
  height: calc(100% - 40px);
  overflow: hidden;
  background-color: #151515;
  object-fit: cover;
  position: relative;
  color: white;
}

.share-close {
  width: 50px;
  height: 50px;
}

.share-close {
  line-height: 50px;
  font-size: 2em;
  color: white;
  text-align: center;
  cursor: pointer;
}

.share-screen {
  width: 400px;
  bottom: 0px;
  position: absolute;
  right: 10px;
  background-color: #333333;
  min-height: 200px;
  z-index: 1000;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #666666;
  color: white; 
}

.share-screen ul {
  background-color: green;
  list-style: none;
  margin: 0;
  padding: 10px;
  border: 1px solid #666666;
  border-radius: 5px;
  background-color: #333333;
  max-height: 140px;
  overflow-y: scroll;
}

.share-screen li {
  background-color: #333333;
  height: 20px;
  padding: 10px;  
  transition: all 3s;
  -webkit-transition: all 3s;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.share-screen li:hover {
  background-color: #666666;
  transition: all 3s;
  -webkit-transition: all 3s;
}

.playButton {
  bottom: 60px;
  right: 20px;
  width: calc(100% - 40px);
}

.sendButton {
  bottom: 70px;
  right: 20px;
  width: calc(100% - 40px);
}

.facebookButton {
  bottom: 10px;
  left: 20px;
  width: calc(50% - 25px);
}

.twitterButton {
  bottom: 10px;
  right: 20px;
  width: calc(50% - 25px);
}

.shareButton {
  bottom: 0px;
  right: 20px;
  width: calc(50% - 25px);
}

.addButton {
  bottom: 0px;
  left: 20px;
  width: calc(50% - 25px);
}

.addButton, .shareButton, .playButton, .facebookButton, .twitterButton, .share-close, .sendButton {
  position: absolute;
  height: 50px;
  background-color: #222222;
  border: 1px solid #666666;
  color: white;
  border-radius: 3px;
  outline: none;
}

.addButton:hover, .shareButton:hover, .playButton:hover, .facebookButton:hover, .twitterButton:hover, .share-close:hover, .sendButton:hover {
  background-color: #444444;
  -webkit-transition: all 3s; /* Safari */
  transition: all 3s;
}

.search-result-block img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #151515;
  opacity: 0.7;
  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;
}

.search-result-block img:hover {
  opacity: 1;
  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;
}

.search-result-block {
  width: 100%;
  margin: 10px 0;
  height: 150px;
  background-color: #151515;
  border-radius: 3px;
}